@use '_normalize';
@use '_variables';
@use 'checkbox_task_style';
@use 'circles_style';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100vh;
  background-color: variables.$deep-blue;
}
.material-icons {
  vertical-align: middle;
}
body {
  div.root {
    position: absolute;
    @include variables.display-flex(column nowrap, center, center);
    font: 100% variables.$font-roboto;
    line-height: 1.5;
    max-height: 650px;
    height: 100%;
    width: 100%;
    margin-top: 25px;
    div.box {
      width: 550px;
      background: rgba(255, 255, 255, 0.25);
      backdrop-filter: blur(5px);
      @include variables.border(variables.$border-transparent);
      border-radius: 40px;
      z-index: 1;
      overflow: hidden;
      div.content {
        max-width: 700px;
        width: 100%;
        overflow: hidden;
        header {
          h1 {
            color: variables.$white;
            padding: 25px 0 0 30px;
            font-size: 30pt;
          }
          h1 > span {
            padding-left: 10px;
            font-size: 35pt;
          }
        }
        section {
          padding: 20px 10px;
          div#new-task {
            position: relative;
            padding: 20px 0;
            @include variables.display-flex(row nowrap, space-between, initial);
            input {
              color: variables.$white;
              display: block;
              width: 100%;
              padding: 15px;
              @include variables.border(variables.$border-transparent);
              border-right: none;
              outline: none;
              font-size: 15pt;
              background-color: variables.$transparent-black;
              border-radius: 20px 0 0 20px;
              transition: variables.$transition-border-color;
            }
            input:active ~ button,
            input:focus ~ button,
            input:valid ~ button,
            input:active,
            input:focus,
            input:valid {
              border-color: variables.$white;
            }
            input:active + label,
            input:focus + label,
            input:valid + label {
              top: -5px;
            }
            label {
              top: 37px;
              left: 21px;
              color: variables.$white;
              position: absolute;
              transition: top 0.3s ease-out;
            }
            button {
              padding: 0 30px;
              border-radius: 0 20px 20px 0;
              @include variables.border(variables.$border-transparent);
              border-left: none;
              outline: none;
              cursor: pointer;
              color: variables.$white;
              background-color: variables.$deep-cerulean;
              transition: color 0.3s ease-out, background-color 0.3s ease-out, variables.$transition-border-color;
            }
            button:hover {
              background-color: variables.$royal-blue;
            }
          }
          div#tasks {
            overflow: auto;
            max-height: 300px;
            padding: 10px;
            border-radius: 10px;
            background-color: variables.$midnight-marine;
            color: variables.$white;
            @include variables.border(variables.$border-transparent70);
            ul {
              list-style: none;
            }
          }
        }
        footer {
          color: variables.$white;
          padding: 45px 0 15px 0;
          background: rgb(0, 69, 120);
          background: linear-gradient(0deg, rgb(108 113 121 / 57%) 60%, rgba(255, 255, 255, 0) 100%);
          text-align: center;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  div.root {
    margin-top: 0 !important;
    overflow: hidden;
    width: 100%;
    div.box {
      max-width: 100%;;
      height: 100%;
      div.content > footer {
        width: 100%;
        position: absolute !important;
        bottom: 0 !important;
      }
    }
  }
}
